* {
	margin: 0;
	padding: 0; 
}

header{
  font-family: 'Arial', sans-serif;
  background: transparent linear-gradient(180deg, #292929 0%,#1b1b1b 100%) 0% 0% no-repeat padding-box;
  z-index:5;
  position: relative;
  box-shadow: 0 0 10px rgba(1.5,1.5,1.5,1.5);
  border: 0px solid orange;
  padding:1%;
}
body{
  background-color: #444444;
  font-family: 'Russo One', sans-serif;
}
h1{
  font-family: 'Russo One', sans-serif;
}
.container{
  color:black;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}
.logo{
  font-family: 'Russo One', sans-serif;
}
.us {
  display: none;
}

.ru {
  display: inline;
}

.top{
  width: 75%;
  margin-bottom: 5%;
}

.top caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.top th,
.top td {
  padding: .625em;
  text-align: center;
}

.top th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .top {
    border: 0;
  }

  .top caption {
    font-size: 1.3em;
  }
  
  .top thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .top tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .top td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  .top td::before {
    /*
    * aria-label has no advantage, it won't be read inside a .top
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .top td:last-child {
    border-bottom: 0;
  }
}